CARPE_CAELUM_DATABASE_USERNAME=carpe_caelum
CARPE_CAELUM_DATABASE_PASSWORD=XXXXXXXX
TOMORROW_IO_API_KEY=XXXXXXXX
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
REDIS_CACHE_EXPIRATION_IN_MIN=60 # set to 30 TODO; currently anything over 60 minutes gives flawed data (since it looks to the first element)
DATABASE_HOST=asdf
DATABASE_PORT=asdf
LAT_LON_PRECISION=3 # 5: 36', 4: 364', 3: 0.69 miles, 2: 6.86 miles, 1: 68.6 miles, 0: 686 miles
