# .env
CARPE_CAELUM_DATABASE_USERNAME=carpe_caelum
CARPE_CAELUM_DATABASE_PASSWORD=<your pw>
TOMORROW_IO_API_KEY=<your api key>
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
CACHE_EXPIRATION=1800
DATABASE_HOST=asdf
DATABASE_PORT=asdf
LAT_LON_PRECISION=5 # 5: 36', 4: 364'
