# .env
CARPE_CAELUM_DATABASE_USERNAME=carpe_caelum
CARPE_CAELUM_DATABASE_PASSWORD=XXXXXXXXX
TOMORROW_IO_API_KEY=XXXXXXXXXXX
REDIS_CACHE_EXPIRATION_IN_MIN=30
LAT_LON_PRECISION=5 # 5: 36', 4: 364', 3: 0.69 miles, 2: 6.86 miles, 1: 68.6 miles, 0: 686 miles
